@page "/admin"
@{
}


<!DOCTYPE html>

<html>

<head>
    <title>Water Project Admin</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <base href="/" />
</head>

<body>
    <p>Testing</p>
</body>

</html>