@{
    ViewData["Title"] = "Home Page";
}

@model BooksViewModel

@*added "jumbotron" attribute as css which made the title much larger and inside of a box*@
<h1 class="jumbotron">The Book Store</h1>

    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b"/>
    }
        
<div page-model="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1">
</div>

